body {
    background-color: #222222;
    padding-top: 5rem;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10%;
    width: fit-content;
    height: fit-content;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.space {
    padding-bottom: 10%;
}