.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10rem;
    margin-left: 10%;
    margin-right: 10%;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: 10rem;
}

.project-video {
    width: 100%;
    border: solid black 0px;
}

.description-container {
    display: flexbox;
    flex-direction: column;
}

.description-container > h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.description-container > p {
    text-align: justify;
}

.two {
    padding-bottom: 10%;
}